<section class="px-40 px-md-100 floating-image-section">
        {{ section.settings.image1 | image_url: width: 300 | image_tag: loading: 'lazy', class: "d-none d-md-block floating-image--image image1", widths: '200' }}
        {{ section.settings.image2 | image_url: width: 300 | image_tag: loading: 'lazy', class: "d-none d-md-block floating-image--image image2", widths: '200' }}
        {{ section.settings.image3 | image_url: width: 300 | image_tag: loading: 'lazy', class: "d-none d-md-block floating-image--image image3", widths: '200' }}
    <p>
        {% if section.settings.content != blank %}
            {{ section.settings.content }}
        {% endif %}
    </p>
</section>

<style>
.floating-image-section{
    position: relative;
}
.floating-image-section p{
    font-size: 48px;
    max-width: 775px;
    width: 100%;
}
.floating-image--image{
    position: absolute;
    width: 80px;
    height: auto;
}
</style>

{% schema %}
{
  "name": "t:sections.floating-image.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "label": "Enter the content",
      "id": "content",
      "default": "lorem ipsum"
    },
    {
      "type": "image_picker",
      "label": "Select your image",
      "id": "image1"
    },
    {
      "type": "image_picker",
      "label": "Select your image",
      "id": "image2"
    },
    {
      "type": "image_picker",
      "label": "Select your image",
      "id": "image3"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.floating-image.name"
    }
  ]
}
{% endschema %}