<div class="section-mission px-20 px-md-40">
   <div class="section-mission--mission">
        <div class="section-mission--info">
        <h2>Wap's mission</h2>
        <p>
            Through our creative and impactful clothing, we give voice to the voiceless with a fashionable flair. Our mission is to advocate for a compassionate world where animals are treated with kindness and respect. Wear A Paw is a driving force for positive change in the fashion industry and beyond.
        </p>
        </div>
        <div class="section-mission--image">
          {% if section.settings.url != blank %}
           <a href="{{ section.settings.url }}">
          {% endif %}
             {{ section.settings.image | image_url: width: 3200 | image_tag: loading: 'lazy', sizes: sizes, widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200' }}
          {% if section.settings.url != blank %}
              </a>
          {% endif %}
        </div>
   </div>
    <div class="section-mission--subtitle">
        <p class="m-0">Stop tearing our skins</p>
        <p class="m-0">for the sake of fashion</p>
    </div>
</div>


<style>
.section-mission{
    padding-top: 10rem;
}

 .section-mission--info p{
    width: 100%;
    letter-spacing: -1px;
    font-weight: 600;
    line-height: 1.3;
    font-size: 1.8rem;
  }
.section-mission--subtitle {
    display: flex;
    justify-content: space-between;
    padding: 12rem 0 0 0;
}
.section-mission--image{
    transform: rotate(357deg);
}
.section-mission--info h2{
   font-family: 'Anton', sans-serif;
   font-size: 18vw;
   margin: 0;
   text-transform: uppercase;
   text-align: center;
   line-height: 1;
   letter-spacing: -3px;
}
.section-mission--subtitle p{ 
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -1px;
}
.section-mission--image img{
    height: auto;
    width: 100%;
}

.section-mission--subtitle p:last-child{
  text-align: right;
}

@media screen and (min-width: 750px) {
  .section-mission--mission{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 20px;
  }
  .section-mission--info p{
    justify-self: flex-end;
    margin-left: auto;
    width: 41rem;
    letter-spacing: -1px;
    font-weight: 600;
    line-height: 1.3;
    font-size: 1.8rem;
  }
  .section-mission--info h2{  
    text-align: left;
  }
}
</style>

{% schema %}
{
  "name": "t:sections.section-mission.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "label": "Enter the heading",
      "id": "heading",
      "default": "WAP'S MISSION"
    },
    {
      "type": "text",
      "label": "Enter the sub heading",
      "id": "sub-heading",
      "default": "lorem ipsum"
    },
    {
      "type": "image_picker",
      "label": "Select your image",
      "id": "image"
    },
    {
      "type": "url",
      "label": "Enter the URL",
      "id": "url"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.section-mission.name"
    }
  ]
}
{% endschema %}