<div class="section-mission px-20 px-md-40">
   <div class="section-mission--mission">
        <div class="section-mission--info">
        <h2>Wap's mission</h2>
        <p>
            Globally we are exploiting animals for fashion, food and entertainment. we need to stop that and to save a paw, wear a paw. A clothing brand which allows you to speak for the terror they go through and to be able to create a safe and cruelty free world for them. 
        </p>
        </div>
        <div class="section-mission--image">
            {{ section.settings.image | image_url: width: 3200 | image_tag: loading: 'lazy', sizes: sizes, widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200' }}
        </div>
   </div>
    <div class="section-mission--subtitle">
        <p>Stop tearing our skins</p>
        <p>for the sake of fashion</p>
    </div>
</div>


<style>
.section-mission{
    padding-top: 40px;
}
.section-mission--subtitle {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0 0;
}
.section-mission--image{
    transform: rotate(357deg);
}
.section-mission--info h2{
   font-family: 'Anton', sans-serif;
   font-size: 13vw;
   margin: 0;
   color: #da1313;
   text-transform: uppercase;
   text-align: center;
   line-height: 1;
}
.section-mission--subtitle p{ 
    text-transform: uppercase;
}
.section-mission--image img{
    height: auto;
    width: 100%;
}

.section-mission--subtitle p:last-child{
  text-align: right;
}

@media screen and (min-width: 750px) {
  .section-mission--mission{
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 100px;
  }
  .section-mission--info p{
    justify-self: flex-end;
    margin-left: auto;
    width: 560px;
  }
  .section-mission--info h2{
    text-align: left;
  }
}
</style>

{% schema %}
{
  "name": "t:sections.section-mission.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "label": "Enter the heading",
      "id": "heading",
      "default": "WAP'S MISSION"
    },
    {
      "type": "text",
      "label": "Enter the sub heading",
      "id": "sub-heading",
      "default": "lorem ipsum"
    },
    {
      "type": "image_picker",
      "label": "Select your image",
      "id": "image"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.section-mission.name"
    }
  ]
}
{% endschema %}