.rich-text {
  z-index: 1;
}

.heading-rich-text h1 {
  margin: 0;
}

.heading-rich-text[data-attr="9"] h1::after,
.heading-rich-text[data-attr="11"] h1::after {
  display: none;
}

.rich-text__wrapper {
  display: flex;
  justify-content: center;
  /* width: calc(100% - 4rem / var(--font-body-scale)); */
}

.rich-text:not(.rich-text--full-width) .rich-text__wrapper {
  margin: auto;
  width: calc(100% - 8rem / var(--font-body-scale));
}

.rich-text__blocks {
  width: 100%;
}

.heading-large {
  font-size: 21vw;  
  font-family: "Anton", sans-serif;
  color: #000000;
  letter-spacing: -8px;
  line-height: 1;
}

@media screen and (min-width: 750px) {
  .heading-rich-text[data-attr="9"] h1::after {
    display: block;
    content: "";
    background-image: url("https://cdn.shopify.com/s/files/1/0812/9403/3178/files/unheard_pain.png?v=1698059619");
    height: 75%;
    width: 15%;
    position: absolute;
    bottom: -25px;
    right: 21%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .heading-rich-text[data-attr="11"] h1::after {
    display: block;
    content: "";
    background-image: url('https://cdn.shopify.com/s/files/1/0812/9403/3178/files/hidden_pains.png?v=1698059619');
    height: 85%;
    width: 15%;
    position: absolute;
    bottom: -35px;
    right: 23%;
    background-repeat: no-repeat;
    background-size: contain;
}
  }

  .rich-text__wrapper {
    width: 100%;
  }

  .rich-text__wrapper--left {
    justify-content: flex-start;
  }

  .rich-text__wrapper--right {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 990px) {
  .heading-large {
    font-size: 21vw;  
    font-family: "Anton", sans-serif;
    color: #000000;
    letter-spacing: -8px;
    line-height: 1;
  }
  
  .rich-text__blocks {
    max-width: 100%;
  }
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 2rem;
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}

.rich-text__buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 45rem;
  word-break: break-word;
}

.rich-text__buttons--multiple > * {
  flex-grow: 1;
  min-width: 22rem;
}

.rich-text__buttons + .rich-text__buttons {
  margin-top: 1rem;
}

.rich-text__blocks.left .rich-text__buttons {
  justify-content: flex-start;
}

.rich-text__blocks.right .rich-text__buttons {
  justify-content: flex-end;
}
