.related-products {
  display: block;
}

.related-products__heading {
  margin: 0 0 3rem;
  font-size: 14vw;
  text-align: center;
  letter-spacing: -2px;
}

.related-products__heading strong {
  font-weight: 500;
}
